html{
    scroll-behavior: smooth;
}
/* General styling for entire page */
body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
/* using the imported google font & adding a backup font */
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}
/* This is the main background image with no text; here I set the image to the full size of the main and use a z-index of -1 to move the picture behind the text*/
.bg-image{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Here I am making all text in the text container lay in front of the image*/
.text-container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
/* Top Credits Section */
.top-credits{
    height: 29vh;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    grid-gap: 10px;
}
.top-credits-main{
    display: flex;
    justify-content: space-between;
}
.top-credits h2{
    font-size: 24px;
    color: rgb(178,186,226);
}
.top-credits h3{
    margin-top: -15px;
    font-size: 30px;
    color: rgb(178,186,226);
}
.top-credits h4{
    font-size: 14px;
    padding-right: 2px;
    padding-top: 2px;
    color: rgb(178,186,226);
}
.top-credits h5{
    font-size: 19px;
    color: rgb(178,186,226);
}
/* Creating the text layout that will be used across the poster*/
.text-adjustment1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.text-adjustment2{
    margin-top: -13px;
}

/* Avengers Marvel Logos Section */
.avengers-marvel-logos{
    height: 58vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1300px;
}
.avengers-marvel-logos img{
    height: 100%;
    width: auto;
}

/* Bottom Credits Section */
.bottom-credits{
    height: 27vh;
    width: 100%;
    margin-top: -8vh;
}
.bottom-credits h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    color: rgb(66,72,138);
}
.bottom-credits h2{
    font-size: 20px;
    padding-right: 3px;
}
.bottom-credits h3{
    font-size: 13px;
    padding-right: 3px;
    padding-top: 6px;
}
.bottom-credits h4{
    font-size: 8px;
    padding-right: 3px;
    margin-top: -5px;
}
.bottom-credits h5{
    font-size: 4px;
    font-weight: 100;
}
.bottom-credits h6{
    font-size: 3px;
    font-weight: 100;
    margin-top: -2px;
}
/* 5 rows in total to create bottom credits layout*/
.bc-row1{
    display: grid;
    grid-template-columns: 18% 64% 18%;
}
.bc-row1 div:nth-child(2){
    display: flex;
}
.bc-row2{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
.bc-row2 div:nth-child(2){
    display: flex;
}
.text-adjustment3{
    padding-top: 10px;
    text-align: end;
}
.bc-row3{
    display: grid;
    grid-template-columns: 11% 78% 11%;
}
.bc-row3 div:nth-child(2){
    display: flex;
}
/* using grid areas to create custom layout */
.bc-row4{
    display: grid;
    height: 57px;
    width: 100%;
    grid-template-columns: 42% auto 42%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'row4lefta row4centre row4righta'
        'row4leftb row4centre row4rightb';
}
.bc-row4left{
    height: 100%;
    width: auto;
    padding-right: 5px;
}
.bc-row4left-a{
    grid-area: row4lefta;
    display: flex;
    justify-content: end;
}
.bc-row4left-b{
    grid-area: row4leftb;
    display: flex;
    justify-content: end;
    height: 100%;
    width: auto;
    padding-right: 15px;
}
#marvel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#marvel-container h5{
    margin-top: -16px;
}
#marvel-logo{
    height: 50px;
    width: auto;
    margin-top: -15px;
}
#hollywood-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
#hollywood-logo{
    height: 8px;
    width: auto;
    align-self: center;
    padding: 1px 8px 2px 8px;
}
#dolby-container{
    height: 100%;
    width: auto;
    padding-right: 5px;
}
#dolby-container img{
    height: 100%;
    width: auto;
}
.bc-row4centre{
    grid-area: row4centre;
}
.bc-row4centre img{
    height: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.bc-row4right-a{
    grid-area: row4righta;
    display: flex;
}
.bc-row4right-b{
    grid-area: row4rightb;
    display: flex;
}
.bc-row4right{
    padding-left: 5px;
}
.bc-row5{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.bc-row5 img{
    height: 100%;
    width: auto;
}